#booking-status {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;

    @include at-desktop {
        position: absolute;
        top: 50%;
        transform: translate(calc(-50% + 25px),calc(-50%));
        right: -50%;

        &.docked {
            right: 0;
            transform: translate(0, calc(-50%));
        }
    } 

    @include at-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        overflow: scroll;
        width: 100vw;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @include at-mobile {
            display: flex;
        }

        li {

            @include at-tablet {
                width: calc(100% / 6);
            }

            &:nth-child(odd) {
                a {
                    background: $grey;
                }
            }

            a {
                background: $white;
                color: $dark-grey;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-family: $body-font;
                font-size: 11px;
                text-transform: uppercase;
                height: 100px;
                padding: 25px 10px;
                transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
                width: 120px;

                @include at-tablet {
                    min-width: 120px;
                    width: 100%;
                }
        
                &.active {
                    background: $dark-grey !important;
                    color: $white;
        
                    i, span, span.value {
                        color: $white;
                    }
                }

                &.has-value {
                    i {
                        display: none;
                    }
                }
        
                &:hover {
                    background: lighten($dark-grey, 70%);
                }
        
                span {
                    transition: color 0.5s ease-in-out;
                    margin-bottom: 10px;

                    &.value {
                        color: $virgin-red;
                        margin: 0;
                    }
                }
        
                i {
                    color: $virgin-red;
                    display: inline-block;
                    font-size: 24px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                }
            }
        }
    }
}

.booking-container {
    display: block;
    height: 100vh;
    position: relative;
    transition: all 1s ease 0s;

    @include at-mobile {
        margin: 60px 0 0;
    }

    @include at-desktop {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        height: calc(100vh - 80px);
        width: 100%;
        width: calc(100vw - 190px);
        margin: 80px 0 0 190px;
    }

    .booking-stage {
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        @include at-mobile {
            background-position: right center;
            height: calc(100vh - 160px);

            //Lighten background-image for Mobile
            &:before {
                content: "";
                display: block;
                background: rgba(255, 255, 255, 0.5);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                left: 0;
            }
        }

        &.starting-from {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 150px;

            @include at-mobile {
                padding: 40px;

                .form-container {
                    position: relative;
                    max-width: 100%;
                    z-index: 200;
                }
            }

            h1 {
                font-family: $heading-font;
                font-size: 50px;
                line-height: 50px;
                margin: 0 0 30px;

                @include at-mobile {
                    font-size: 32px;
                    line-height: 32px;
                    margin: 0 0 20px;
                }
            }

            .subtitle {
                color: $virgin-red;
                font-family: $body-font;
                font-size: 13px;
                margin: 0 0 20px;
                text-transform: uppercase;

                @include at-mobile {
                }
            }

            input {
                border: none;
                border-radius: 10px;
                height: 90px;
                margin-bottom: 25px;
                max-width: 100%;
                padding: 0 25px;
                width: 490px;

                @include at-mobile {
                    height: 60px;
                }

            }

            .button {
                background: $virgin-red;
                border-radius: 65px;
                border: none;
                color: $white;
                clear: both;
                display: block;
                height: 65px;
                width: 65px;
                transition: 0.5s ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    background: $dark-grey;
                }

                @include at-mobile {
                    border-radius: 45px;
                    height: 45px;
                    width: 45px;
                }
            }
        }

        &.travelling-to {
            top: 100%;
        }

        &.travelling-when {
            top: 200%;
        }

        &.who {
            top: 300%;
        }

        &.extras {
            top: 400%;
        }

        &.your-tickets {
            top: 500%;
        }
    }
}

#map {
    display: block;
    height: 100%;
    width: 100%;

    @include at-mobile {
       height: calc(100% - 180px);
    }

}

#results {
    background: $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    display: block;
    height: 180px;
    max-width: 30%;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: 335px;
    transition: height 0.5s ease-in-out;

    @include at-mobile {
        max-width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    @include at-desktop {
        left: 0;
        top: 0;
    }

    .show-all-fares {
        color: $virgin-red;
        cursor: pointer;
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
        text-transform: uppercase;
        width: 100%;

        i {
            display: block;
            float: right;

            &:before {
                color: $virgin-grey;
                transform: rotateZ(90deg);
            }
        }

        &.hide {
            i {
                &:before {
                    transform: rotateZ(-90deg);
                }
            }
        }

        @include at-mobile {
            i {
                &:before {
                    transform: rotateZ(-90deg);
                }
            }

            &.hide {
                i {
                    &:before {
                        transform: rotateZ(90deg);
                    }
                }
            }
        }
    }

    .result.recommended {
        margin-bottom: 20px;
    }

    &.show-all {
        height: 100%;

        .result.recommended {
            margin-bottom: 0;
        }

        .results-container {
            overflow: scroll;
            height: 100%;
            height: calc(100% - 20px);
        }
    }

    .results-container {
        padding: 10px 0;
    }

    .result {
        background: $grey;
        border-radius: 10px;
        height: 105px;
        padding: 35px 25px 10px 25px;
        position: relative;
        width: 100%;

        &.selected {
            background: $dark-grey;
            color: $white;

            &:before {
                content: "Your selected ticket";
                font-size: 12px;
                position: absolute;
                top: 10px;
            }

            .button {
                display: block;
            }
        }

        &.recommended {
            &:before {
                content: "Our recommended ticket";
                font-size: 13px;
                position: absolute;
                top: 10px;
            }
        }

        &+ .result {
            margin-top: 10px;
        }

        .details {
            display: block;
            width: 100%;
        }

        .detail {
            display: block;

            &.times {
                float: left;
                margin-bottom: 5px;
            }

            &.cost {
                float: right;
                font-weight: bold;
                margin-bottom: 5px;
                text-align: right;
            }
            
            &.duration {
                clear: both;
                color: $virgin-red;
                float: left;
                font-size: 12px;
            }
        }

        .button {
            background: $virgin-red;
            border-radius: 20px;
            color: $white;
            display: none;
            float: right;
            font-size: 12px;
            text-transform: uppercase;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
            padding: 0 40px;
        }
    }
}