@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
  }
  
  @mixin hub-transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
  }
  
  @mixin font-size($pixels) {
    font-size: #{$pixels}px;
    font-size: rem-calc($pixels);
  }
  
  @function strip-unit($num) {
    @return $num / ($num * 0 + 1);
  }
  
  @mixin pxl-fallback($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remalues: '';
    @for $i from 1 through $max {
      $value: strip-unit(nth($values, $i));
      $remalues: #{$remalues + $value}rem;
      @if $i < $max {
        $remalues: #{$remalues + " "};
      }
    }
    @for $i from 1 through $max {
      $value: strip-unit(nth($values, $i));
      $pxValues: #{$pxValues + $value * 16}px;
      @if $i < $max {
        $pxValues: #{$pxValues + " "};
      }
    }
    #{$property}: $pxValues;
    #{$property}: $remalues;
  }
  
  @mixin convert-to-rem($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remalues: '';
    @for $i from 1 through $max {
      $value: strip-unit(nth($values, $i));
      $pxValues: #{$pxValues + $value}px;
      @if $i < $max {
        $pxValues: #{$pxValues + " "};
      }
    }
    @for $i from 1 through $max {
      $value: strip-unit(nth($values, $i));
      $remalues: #{$remalues + $value / 16}rem;
      @if $i < $max {
        $remalues: #{$remalues + " "};
      }
    }
    #{$property}: $pxValues;
    #{$property}: $remalues;
  }