header.top-bar {
    background: $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 190px;
    height: 80px;
    padding-right: 240px;
    z-index: 9999;

    .mobile-logo {
        display: none;

        @include at-mobile {
            display: block;
            padding: 0 10px;
            position: relative;
            z-index: 9999;


            img {
                display: block;
            }
        }
    }

    @include at-mobile {
        background: $virgin-red;
        left: 0;
        height: 60px;
        padding-right: 60px;
    }

    .usp-block {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;

        @include at-mobile {
            display: none;
        }
    

        li {
            font-size: 15px;
            line-height: 22px;
            padding: 0 30px;

            &+ li {
                border-left: 1px solid $virgin-red;
            }
        }
    }

    .mini-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        padding: 0 20px;
        position: absolute;
        top: 0;
        right: 80px;

        @include at-mobile {
            display: none;
        }

        a {
            cursor: pointer;
            display: block;
            line-height: 80px;
            height: 80px;
            text-align: center;
            width: 60px;

            .icon {
                transition: 0.5s ease-in-out;
            }

            &:hover {
                .icon {
                    color: $virgin-red;

                    &.icon-account {
                        color: $virgin-grey;
                    }
                }
            }


            .icon-account {
                color: $virgin-red;
            }
        }
    }

    .menu-toggle {
        background: $dark-grey;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 80px;
        width: 80px;
        padding: 30.5px 25px;
        z-index: 999999;

        @include at-mobile {
            height: 60px;
            width: 60px;
            padding: 20.5px 15px;
        }

        .burger-box {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 19px;

            .burger-filling {
                position: absolute;
                width: 30px;
                height: 1px;
                margin-top: 8px;
                transition-timing-function: cubic-bezier(.6,.06,.6,.2);
                transition-duration: .2s;
                background-color: $white;

                &:after,
                &:before  {
                    position: absolute;
                    width: 30px;
                    height: 1px;
                    transition-timing-function: ease;
                    transition-duration: 2s;
                    transition-property: transform;
                    background-color: $white;
                    display: block;
                    content: "";
                }

                &:after {
                    bottom: -9px;
                    transition: bottom .1s ease-in .25s,transform .25s cubic-bezier(.6,.06,.6,.2);
                }

                &:before {
                    top: -9px;
                    transition: top .1s ease-in .25s, opacity .1s ease-in;
                }
                
            }
        }

        &.active {
            .burger-box {
    
                .burger-filling {
                    transition-delay: .15s;
                    transition-timing-function: cubic-bezier(.2,.6,.4,1);
                    transform: rotate(225deg);
    
                    &:before  {
                        top: 0;
                        transition: top .1s ease-out, opacity .1s ease-out .15s;
                        opacity: 0;
                    }

                    &:after  {
                        bottom: 0;
                        transition: bottom .1s ease-out,transform .2s cubic-bezier(.2,.6,.4,1) .15s;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

.main-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.main-menu-container {
    background: $dark-grey;
    padding: 20% 15%;
    height: 100vh;
    width: 100vw;
    z-index: 99999;

    @include at-mobile {
        padding: 80px 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            a {
                display: block;
                color: $white;
                font-size: 32px;
                line-height: 46px;
                text-decoration: none;

                @include at-mobile {
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }

}