#sidebar {
    background: $virgin-red;
    height: 100%;
    height: 100vh;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 190px; 
    z-index: 1000;

    @include at-mobile {
        //Hide
        height: 0;
        width: 0;
    }

    .logo {
        display: inline-block;

        @include at-mobile {
            display: none;
        }
    
    }
    
}