@mixin at-mobile {
    @media (min-width: 0) and (max-width: 1023px) {
        @content;
    } 
}

@mixin at-tablet {
    @media (min-width: 641px) and (max-width: 1023px) {
        @content;
    } 
}

@mixin at-desktop {
    @media (min-width: 1024px) {
        @content;
    } 
} 