@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-black.eot');
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-black.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-black.woff2') format('woff2'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-black.woff') format('woff'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-black.ttf') format('truetype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-black.svg#proxima_nova_altblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-bold.eot');
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-bold.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-bold.woff2') format('woff2'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-bold.woff') format('woff'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-bold.ttf') format('truetype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-bold.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-regular.eot');
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-regular.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-regular.woff') format('woff'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-regular.ttf') format('truetype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-alt-regular.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-scosf-thin.eot');
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-scosf-thin.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-scosf-thin.woff2') format('woff2'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-scosf-thin.woff') format('woff'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-scosf-thin.ttf') format('truetype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-scosf-thin.svg#proxima_nova_scosfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-semibold.eot');
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-semibold.woff2') format('woff2'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-semibold.woff') format('woff'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-semibold.ttf') format('truetype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-thin.eot');
    src: url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-thin.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-thin.woff2') format('woff2'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-thin.woff') format('woff'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-thin.ttf') format('truetype'),
         url('/wp-content/themes/virgin-trains/app/fonts/proxima-nova/proxima-nova-thin.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

$body-font: 'Proxima Nova', helvetica, arial, sans-serif;
$heading-font: 'proxima_nova_ltthin', helvetica, arial, sans-serif;