#wpadminbar {
	position: fixed !important;
}

body.admin-bar {
    @include convert-to-rem( 'margin-top', $wp-admin-bar );

    #sidebar {
        height: calc(100vh - #{$wp-admin-bar});
        top: #{$wp-admin-bar};
    }

    header.top-bar {
        top: #{$wp-admin-bar};
    }

    .booking-container {
        margin-top: calc(80px + #{$wp-admin-bar});
    }
}
